train_cnn/venv/
train_cnn/dataset/
train_cnn/**pycache__/

*.pyc

train_cnn/pth/modeltemp.pth

.vscode/
pth/
*.pth

ros2_homework_advanced/ros2_basic_ws/build/
ros2_homework_advanced/ros2_basic_ws/install/
ros2_homework_advanced/ros2_basic_ws/log/
